.container {
  display: flex;
  flex-direction: row;
}

.day,
.button {
  width: 20em;
}

.day {
  background-color: rgb(160, 156, 156);
  border-radius: 3%;
  padding: 0.5em;
  margin-right: 0.5em;
  height: fit-content;
}
